<div id="season"> 
</div>
<div id="tree">
  <ul>
    <li>
      Fruit: <span id="fruit_amount"> </span>
    </li>
    <li>
      Age: <span id="age"> </span>
    </li>
</div>
<div id="tree_image">
  <ul>
    <li>
      <div id="tree_branch"></div>
      <div id="tree_fruit"></div>
      <div id="tree_trunk_one"></div>
    </li>
  </ul>
</div>