<div id="season"> 
</div>
<div id="tree">
  <ul>
    <li>
      Alive: <span id="alive"> </span>
    </li>
    <li>
      Fruit: <span id="fruit_amount"> </span>
    </li>
    <li>
      Age: <span id="age"> </span>
    </li>
</div>