nav {
  height: 3em;
  background: orange;
  color: white;
}

nav li{
  list-style: none;
}

#logo {
  background-image: url("thicktree.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 3em;
  width: 3.3em;
}

#tree_trunk_one, #tree_trunk_two, #tree_trunk_three, #tree_trunk_four{
  background: rgba(97, 62, 34, 1);
  width: 10px;
}

#tree_trunk_one{
  height: 20px;
}
#tree_trunk_two{
  height: 40px;
}
#tree_trunk_three{
  height: 80px;
}
#tree_trunk_four{
  height: 100px;
}

#tree_branch_one, #tree_branch_two{
  background: green;
  border-radius: 50%;
  position: relative;
  top: 1em;
  right: 1em;
}

#tree_branch_one{
  height: 1.4em;
  width: 1.4em;
  top: 0.21em;
  right: 0.3em
}

#tree_branch_two{
  height: 64px;
  width: 40px;
  top: 1em;
  right: 1em;
}

#tree_image ul{
  padding-left: 2em;
  list-style: none;
  position: relative;
}

#tree_image ul li{
  float: left;
}

#tree_fruit{
  height: .3em;
  width: .3em;
  background: red;
  position: absolute;
}

